* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeon Sung', cursive;
}

body {
    text-align: center;
    background-color: crimson;
    font-size: 250%;
    color: white;
}
